.authLayout__container {
  display: flex;
}

.app-name {
  padding-bottom: 48px;
  h1 {
    font-size: 40px;
    line-height: 48px;
  }

  h3 {
    font-size: 32px;
    line-height: 44px;
  }
}

.app-description {
  font-size: 18px;
}

.authLayout__item {
  min-height: 100dvh;
  max-height: 100dvh;
  width: 50%;
}

.authLayout__item:first-child {
  background: linear-gradient(
    206deg,
    var(--viridian) -51.17%,
    var(--cambridge-blue) 115.51%
  );
  color: #000;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 70px 96px;
}

.authLayout__item:last-child {
  overflow-y: auto;
  padding: 70px 16px 0 16px;
  background-color: var(--neutral-light);
  display: flex;
  flex-direction: column;

  .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 500px;
    min-width: min(100%, 500px);
    margin: 0 auto;
    margin-bottom: 32px;

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .submit-button {
        margin-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .authLayout__item:first-child {
    padding-inline: 16px;
  }
}

@media screen and (max-width: 768px) {
  .app-name {
    padding-bottom: 0;
  }

  body:has(.authLayout__container) {
    background: linear-gradient(
      to bottom,
      var(--viridian),
      var(--cambridge-blue) 40%,
      var(--mint-cream) 40%
    );
  }

  .authLayout__container {
    flex-direction: column;
    min-height: 100dvh;
    max-width: 532px;
    margin: auto;
  }
  .authLayout__item {
    min-height: unset;
    width: 100%;
  }

  .app-description {
    display: none;
  }

  .authLayout__item:first-child {
    background: transparent;
    color: #000;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px;
  }

  .authLayout__item:last-child {
    overflow-y: auto;
    background-color: transparent;
    padding: 16px;
    flex-grow: 1;
    .container {
      display: flex;
      flex-direction: column;
      gap: 24px;
      max-width: 500px;
      margin: 0;
      background: #fff;
      padding: 16px;
      border-radius: 20px;
      border: 1px solid var(--azure-web);
      min-height: 500px;

      form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .submit-button {
          margin-top: 10px;
        }
      }
    }
  }
}

.footer {
  padding-block: 16px;
  text-align: center;
  margin-top: auto;
  color: var(--viridian);
  /* border-top: 1px solid var(--viridian); */
}
