.textField__container > label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.textField__input {
  padding: 10px 12px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 6px;
}

.textField__helpText {
  font-size: 12px;
  line-height: 18px;
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 4px;
}

.textField__input:focus {
  outline: none;
  border-color: var(--viridian);
  background-color: var(--azure-web);
  box-shadow: 0 0 0 3px var(--mint-cream);
}

.textField__container.hasError {
  .textField__input {
    border: 1px solid var(--error-color);
  }

  .textField__input:focus {
    border-color: var(--error-color);
    background-color: rgb(249, 228, 228);
    box-shadow: 0 0 0 3px rgb(249, 232, 232);
  }

  .textField__helpText {
    color: var(--error-color);
  }
}
