.seperator {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  .line {
    width: 100%;
    border-bottom: 1px solid var(--viridian);
  }

  .or {
    position: absolute;
  }
}

.seperator:has(.or) {
  min-height: 22px;
}
