.login__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 500px;
  margin: auto;
}

.login_form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  button {
    margin-top: 10px;
  }
}
