.button__input {
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  outline: none;
}

.button__text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--tight);
}

.button__container.iconButton {
  .button__input {
    padding: 0;
    border-radius: 50%;
    background: transparent;
  }
  .button__input:hover {
    outline: 10px solid rgba(0, 0, 0, 0.05);
    background: rgba(0, 0, 0, 0.05);
  }
}

.button__container.default {
  .button__input {
    background: #f8f9fa;
    box-shadow: 0rem -0.0625rem 0rem 0rem #b5b5b5 inset,
      0rem 0rem 0rem 0.0625rem rgba(0, 0, 0, 0.1) inset,
      0rem 0.03125rem 0rem 0.09375rem #fff inset;
  }

  .button__input:active {
    box-shadow: -0.0625rem 0rem 0.0625rem 0rem rgba(26, 26, 26, 0.122) inset,
      0.0625rem 0rem 0.0625rem 0rem rgba(26, 26, 26, 0.122) inset,
      0rem 0.125rem 0.0625rem 0rem rgba(26, 26, 26, 0.2) inset;
  }
}

.button__container.primary {
  .button__input {
    box-shadow: none;
    background-color: var(--viridian);
    color: var(--mint-cream);
    font-weight: 500;
  }
  .button__input:hover {
    background-color: var(--viridianDark);
  }
  .button__input:active {
    box-shadow: -0.0625rem 0rem 0.0625rem 0rem rgba(26, 26, 26, 0.122) inset,
      0.0625rem 0rem 0.0625rem 0rem rgba(26, 26, 26, 0.122) inset,
      0rem 0.125rem 0.0625rem 0rem rgba(26, 26, 26, 0.2) inset;
    .button__text {
      display: flex;
      transform: translateY(1.25px);
    }
  }
}

.button__container.textButton {
  .button__input {
    padding: 0;
    color: var(--link-color);
    background: transparent;
  }

  .button__input:hover {
    text-decoration: underline;
    color: var(--link-color-hover);
  }
}

.button__container.fullWidth {
  .button__input {
    width: 100%;
    text-align: center;
  }
}
