body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  font-size: 24px;
  line-height: 26px;
}

a {
  display: inline-flex;
  align-items: center;
  color: var(--link-color);
  svg {
    margin-right: 8px;
  }
}

a:hover {
  color: var(--link-color-hover);
}

.input-with-option {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

:root {
  --viridian: #6a907f;
  --viridianDark: #48685a;
  --cambridge-blue: #a2c3b1;
  --mint-green: hsla(167, 29%, 85%, 1);
  --azure-web: hsla(180, 31%, 94%, 1);
  --mint-cream: rgb(245, 255, 247);
  --link-color: hsl(214, 100%, 41%);
  --link-color-hover: hsl(214, 100%, 30%);
  --error-color: hsl(0, 91%, 31%);

  --gradient: linear-gradient(
    206deg,
    var(--viridian) -51.17%,
    var(--cambridge-blue) 115.51%
  );

  --sidebar-width: 300px;

  /* spacing */
  --tight: 8px;
  --medium-tight: 12px;
  --loose: 16px;
  --medium-loose: 20px;
  --extra--loose: 24px;
}
